@import url('https://fonts.googleapis.com/css2?family=Harmattan&display=swap');
/* Add a background color to the top navigation */
.topnav, .botnav {
  background-color: #1E4C41;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  padding: 14px 16px;
}


.botnav img{
  float: left;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.copyright {
  padding-top: 11;
  padding-left: 5;
}

.logo {
  padding-top: 9;
  padding-bottom: 9;
}
.botnav a{
  font-family: 'Harmattan', sans-serif;
  color: #FFFFFF;
  float: right;
  padding: 5px 7px 5px;
}

.botnav a:link{
  text-decoration: none;
}

.botnav a:hover{
  text-decoration: underline;
}