@import url('https://fonts.googleapis.com/css2?family=Harmattan&display=swap');

*{
  font-family: 'Harmattan', sans-serif;
}


.topnav, .botnav {
  position: absolute;
  background-color: #1E4C41;
  overflow: hidden;
  left: 0;
  width: 100%;
}

.topnav{
  top: 0;
}
.topnav a {
  float: left;
  padding: 14px 16px;
}


.botnav{
  bottom: 0px;
  height: 5vh;
  min-height: 47;
}
.botnav img{

  float: left;
  display: block;
 
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.copyright {
  left: 8;
}


.logo {
  left: 31;
}

.botnav a{
  font-size: 20;
  color: #FFFFFF;
  right: 10;
}

.botnav a:link{
  text-decoration: none;
}

.botnav a:hover{
  text-decoration: underline;
}