@import url('https://fonts.googleapis.com/css2?family=Harmattan&display=swap');

*{
  font-family: 'Harmattan', sans-serif;
}


.topnav, .botnav {
  position: absolute;
  background-color: #1E4C41;
  overflow: hidden;
  left: 0;
  width: 100%;
}

.topnav{
  top: 0;
}
.topnav a {
  float: left;
  padding: 14px 16px;
}

.hike{
  position: absolute;
  left: 0;
  top: 65;
  text-align:center;
  display:block;
  background-color: #1E4C41;
  width: 100vw;
}

.connect{
  position: relative;
  top: 465;
  font-size: 30;
  text-align: center;

}

.login{
  text-align: center;

}
.login a{
  border: 1px solid black;
  border-radius: 30px;
  color: #F4F9FA;
  position: relative;
  top: 500;
  font-size: 30;
  text-align: center;
  background-color: #1E4C41;
  padding: 20 25vw;
}

.signUp{
  text-align: center;

}
.signUp a{
  border: 1px solid black;
  border-radius: 30px;
  color: #000000;
  position: relative;
  top: 570;
  font-size: 30;
  text-align: center;
  background-color: #EAF1E6;
  padding: 20 25vw;
}

.teamInfo{
  text-align: center;
}
.teamInfo a{
  text-align: center;
  color: #000000;
  position: relative;
  top: 610;
  font-size: 35;
  
}

.botnav{
  bottom: 0px;
  height: 5vh;
  min-height: 47;
}
.botnav img{

  float: left;
  display: block;
 
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.copyright {
  left: 8;
}


.logo {
  left: 31;
}

.botnav a{
  font-size: 20;
  color: #FFFFFF;
  right: 10;
}

a:link{
  text-decoration: none;
}

.botnav a:hover{
  text-decoration: underline;
}